#nav {
  width: 100%;
  float: left;
  background: #cccccc;
  font-weight: bold;
  text-align: center;
}

#nav a {
  margin: 10px 20px 10px 20px;
  line-height: 2em;
  font-variant: small-caps;
}

.profile img {
  width: 200px;
  margin: 5px;
}

.profile {
  background: #f5f5f5;
}

.column{
  float: right;
  width: 240px;
}

button {
  margin: 0px 50px 0px 50px;
}

.right {
  float: right;
  border: solid 1px black;
  margin-left: 15px;
}
.left {
  float: left;
  border: solid 1px black;
  margin-right: 15px;
}

#confirm {
  display: none;
}
